<p>Grid : <%= @grid.join(" - ") %></p>
<p>Your word : <%= @attempt %></p>
<p>Time taken to answer : <%= @score[:time] %></p>
<p>Your score : <%= @score[:score] %></p>
<p><%= @score[:message] %></p>
<%= link_to 'New game', 'play' %>


<p>Total number of games you have played : <%= @number_of_games %></p>
<p>Your average response time : <%= @average_response_time %></p>
